{% extends 'base.html.twig' %}

{% block title %}Clima de tu Ciudad{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/index.css')}}">
	<link rel="stylesheet" href="{{asset('css/emoji-picker.css')}}">
	<link rel="stylesheet" href="{{asset('css/spinner.css')}}">
	<link rel="stylesheet" href="{{asset('fontawesome/css/all.css')}}">
{% endblock %}

{% block body %}

	<div class="topnav">
		<!-- Logo y titulo-->
		<a href="{{path('home')}}" style="text-decoration: none;">
			<i class="fas fa-umbrella-beach logo"></i>
			<h1 class="titulo">Clima de tu Ciudad</h1>
		</a>
	</div>

	<div class="backdiv">
		<div class="container">

			<!-- Form buscar -->
			<h1>Ingrese una Ciudad</h1>
			<div class="buscador">
				<input id="input-buscar" type="text" style="border:none;" placeholder="Buscar">
				<i class="fas fa-search" style="color:#5b9a9a;"></i>
			</div>
			<button id="boton-buscar" class="boton-buscar" disabled>Buscar</button>
			<hr style="display: none;" id="barra">

			<!-- Info del clima de la ciudad -->
			<p id="error" style="display:none;">No se ha podido encontrar información sobre la ciudad</p> <!-- Mensaje de error-->
			<div class="container-info-clima" style="display: none;">				
				<h2 id="ciudad"></h2>
				<div id="icon"><img id="wicon" src="" alt="Icono clima"></div>
				<p id="clima"></p>
				<p id="temp"></p>
				<p id="viento"></p>
			</div>

			<!-- Spinner Cargando-->
			<div class="lds-spinner" id="spinner" style="margin-top: 5%; display: none;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
			<button id="emoji-picker-button">😀</button>
		</div>
	</div>




{% endblock %}

{% block javascripts %}

	<script src="{{asset('js/jquery-3.4.1.min.js')}}"></script>
	<script src="{{asset('js/index.js')}}"></script>
	<script src="{{asset('js/emoji-picker.js')}}"></script>
	<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>

{% endblock %}


